zadanie.xsd

<xs:schema  elementFormDefault="qualified" 
  targetNamespace="https://www.w3schools.com"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:własny="http://www.example.com/typy">

<!-- JAK COS TO PISZE OD ZERA BO POLAPANIE SIE W TYM GOTOWCU JEST TRAGICZNE PO PROSTU -->

<!-- ZEBY COS NIE WYBUCHLO TO NA RAZIE GO NIE KOMENTUJE -->

<!-- autorzy -->


<xs:simpleType name="DaneTyp">
  <xs:restriction base="string">
    <xs:maxLength value = "30"/>
  </xs:restriction>
</xs:simpleType>


<xs:simpleType name="EmailTyp">
  <xs:restriction base="string">
    <xs:maxLength value= "20"/>
   </xs:restriction> 
 </xs:simpleType> 

<xs:complexType name="InformacjeTyp">
  <xs:element name="autorzy" type="własny:AutorzyTyp"/>
</xs:complex>

<xs:complexType name="AutorzyTyp">
  <xs:choice>
    <xs:element name="autor" type="własny:AutorTyp" minOccurs="2" maxOccurs="unbounded"/>
   </xs:choice>
</xs:complexType>


<xs:complexType name="AutorTyp">
  <xs:sequence>
    <xs:element name="dane" type="własny:DaneTyp"/>
    <xs:element name="email" type="własny:EmailTyp"/>
  </xs:sequence>
</xs:complexType>

<!-- koniec autorow -->


<!-- LIGA -->


<xs:simpleType name="KrajTyp">
  <xs:restriction base="string">
    <xs:maxLength value= "6"/>
   </xs:restriction> 
 </xs:simpleType> 

<xs:simpleType name="NazwaTyp">
  <xs:restriction base="string">
    <xs:maxLength value ="60"/>
  </xs:restriction>
</xs:simpleType>


<xs:simpleType name="MiastoTyp">
  <xs:restriction base="string">
    <xs:pattern value="\p{Lu}\p{Ll}{1,}"/>
    <xs:maxLength value ="60"/>
  </xs:restriction>
</xs:simpleType>


<xs:simpleType name="ImięTyp">
   <xs:restriction base="string">
    <xs:pattern value="\p{Lu}\p{Ll}{1,}"/>
    <xs:maxLength value ="60"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="NazwiskoTyp">
   <xs:restriction base="string">
    <xs:pattern value="\p{Lu}\p{Ll}{1,}"/>
    <xs:maxLength value ="60"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="Data_urodzeniaTyp">
</xs:simpleType>

<xs:simpleType name="NarodowośćTyp">
   <xs:restriction base="string">
    <xs:pattern value="\p{Lu}\p{Ll}{1,}"/>
    <xs:maxLength value ="30"/>
  </xs:restriction>
</xs:simpleType>

<xs:simpleType name="StadionTyp">
  <xs:sequence>
    <xs:element name="nazwa" type="własny:NazwaTyp" use="required"/>
    <xs:element name="pojemność" type="własny:PojemnośćTyp" use="required"/>
    <xs:element name="bilet" type="własny:BiletTyp" use="required"/>
  </xs:sequence>
  <xs:attribute name="stadionId" type="xs:string" use="required"/>
</xs:simpleType>

<!-- WSZYSTKIE TYPY STAD DO ZDEFINIOWANIA -->

<xs:complexType name="TrenerTyp">
  <xs:sequence>
    <xs:element name="imię" type="własny:ImięTyp" use="required" maxOccurs="1"/>
    <xs:element name="nazwisko" type="własny:NazwiskoTyp" use="required" maxOccurs="1"/>
    <xs:element name="data_urodzenia" type="własny:Data_urodzeniaTyp" use="optional"/>
    <xs:element name="narodowość" type="własny:NarodowośćTyp" use="required"/>
  </xs:sequence>
</xs:complexType>  



<xs:complexType name="LigaPiłkarskaTyp">
  <xs:attribute name="rok" type="xs:string" use="required" default="2017/2018"/>
  <xs:attribute name="nazwa" type="własny:NazwaTyp" use="required"/>
  <xs:attribute name="kraj" type="własny:KrajTyp" use="required"/>
</xs:complexType>


  <xs:complexType name="KlubTyp">
    <xs:sequence>
      <xs:element name="nazwa" type="własny:NazwaTyp" />
      <xs:element name="miasto" type="własny:MiastoTyp" />
      <xs:element name="stadion" type="własny:StadionTyp" />
      <xs:element name="trener" type="własny:TrenerTyp" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TytułyTyp">
    <xs:restriction base="xs:string">
        <xs:enumeration value="mistrzostwo" />
        <xs:enumeration value="puchar" />
    </xs:restriction>
  </xs:simpleType>


  <xs:simpleType name="KlubIdTyp">
    <xs:restriction base="xs:string">
      <xs:pattern value="[k][0-20]"/>
    </xs:restriction> 
  </xs:simpleType>

  <xs:complexType name="MeczTyp">
    <xs:choice>
      <xs:element name="klubId" type="własny:KlubIdTyp" minOccurs="2" maxOccurs="2"/>
      <xs:element name="stadionId" type="xs:string"/>
    </xs:choice>
  </xs:complexType> 


  <!-- DEFINICJA CAŁEGO DOKUMENTU -->

  <xs:complexType name="zadanie">
    <xs:all>
      <xs:element name="informacje" type="własny:InformacjeTyp"/>
      <xs:element name="liga_piłkarska" type="własny:LigaPiłkarskaTyp"/>
    </xs:all>
  </xs:complexType>




</xs:schema>