zadanie.dtd

<!ELEMENT zadanie (informacje,ligi_piłkarskie)>

<!--informacje-->
<!ELEMENT informacje(tytuł+,data*,autorzy+)>
<!--może nie mieć daty, ale musi mieć tytuł i autora -->
<!ELEMENT tytuł (#PCDATA)>
<!ELEMENT data (#PCDATA)>
<!ELEMENT autorzy (#PCDATA)>

<!--główne-->
<!ELEMENT ligi_piłkarskie (liga_piłkarska)>
<!ATTLIST liga_piłkarska
	rok PCDATA #REQUIRED
	nazwa ID #REQUIRED
	kraj PCDATA #REQUIRED
>
<!ELEMENT liga_piłkarska (kluby,mecze)>
<!ELEMENT kluby (klub)>
<!ELEMENT mecze (opis, rząd)>
